$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-success {
    background-color: #00CACB;
    border-color: #00CACB;
    border-radius: 0;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    background-color: #82E5E5;
    border-color: #82E5E5;
    border-radius: 0;
}

.rightie {
    float:right;
}

.info-extra {
    width: 100%;
    padding: 10px;
    background-color: #F7F7F7;
    color: #939CA7;
    margin-top: 10px;
    /*text-align: right;*/
}

.centered *{
    vertical-align: middle;
    line-height: 28px;
    height: 28px;
    padding: 0px 10px;
}

.startchat, .chat {
    max-width: 275px;
}

.startchat .form-inline input, .startchat .form-inline button {
    margin-bottom: 10px;
    width: 100%;
}

.chat .approved .name {
    margin-top: 10px;
    padding-bottom: 40px;
}

.chat .approved .name span {
    float: left;
}
.chat .approved .name input {
    float: right;
}

.chat hr {
    margin-top: 5px;
    width : 100%;
}

.chat .messages {
    height: 200px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}