<div class="chat">
  <div class="approval" ng-show="!approved">
    <a class="btn btn-success" ng-click="beginChat()">{{partnerName}} wants to chat. {{seconds}} seconds left.</a>
  </div>
  <div class="approved" ng-show="approved">
    <div class="info-extra centered" ng-show="!partnerOnline">
      <span>Your partner quit.</span> 
      <a class="btn btn-success rightie" ng-href="./#/startchat">Get back.</a>
    </div>
    <div class="name centered"> <span>Your name:</span> <input class="rightie" type="text" ng-model="user.name" placeholder="Enter your name..."> </div>

    <hr></hr>
    <div class="messages">
      <div ng-cloak ng-repeat="message in messages">
        <div ng-show="message.from.length > 0 || message.content.length > 0" 
          class="message {{message.from == user.name ? 'self' : 'other'}}"
          >
          <span class="from">
            <em>{{message.from}}: </em>
          </span>
          <span class="content">
            {{message.content}}
          </span>
        </div>
      </div><br/>
    </div>

    <form class="form-inline centered" ng-submit="addMessage()">
      <input type="text" ng-model="message" placeholder="Message...">
      <button class="btn btn-success rightie" type="submit">
        <i class="icon-reply"> Send</i>
      </button>
    </form>
  </div>
</div>