<div class="startchat">
	<div ng-show="!interest">
		<a ng-click="interest = true"><img ng-src="./images/chat.png" alt="chat"></img></a>
	</div>
	<div ng-show="interest">
		<form class="form-inline" ng-submit="start()">
			<input type="text" ng-model="user.name" placeholder="Enter your name...">
			<button type="submit" class="btn btn-success">Start chatting!</button>
		</form>
		<div class="info-extra" ng-show="searching"><div>Looking for partner...</div></div>
	</div>
</div>